<nav class="navbar navbar-expand-lg navbar-light navbar-inverse">
  <div class="container">
    <span style="color: white;" class="navbar-text h2">
     B3v3's URL shortener!
    </span>
     <div class="navbar-brand navbar-right">
     <a class="h2" style="color: white;" href="https://github.com/B3v3">
      Github!
     </a>
   </div>
   </div>
</nav>
